<div class="d-flex justify-content-center mt-3">
    <button class="btn btn-primary mb-3" routerLink="/home">
        Come Back To Home
    </button>
</div>
<h1 class="text-center">{{ drink.strDrink }}</h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-md-6">
            <img
                [src]="drink.strDrinkThumb"
                [alt]="drink.strDrink"
                class="img-w-500 rounded-5"
            />
        </div>
        <div class="col col-12 col-md-6">
            <h2 class="mb-4">Ingredients and Measures</h2>
            <div class="container">
                <div class="row">
                    <div
                        class="col-12 col-md-3"
                        *ngFor="let property of properties"
                    >
                        <h4 class="text-center">{{ property.ingredients }}</h4>
                        <p class="text-center">{{ property.measures }}</p>
                        <div class="w-100 d-flex justify-content-center">
                            <img
                                class="img-fluid mx-auto"
                                src="{{ property.imgUrl }}"
                                onerror="this.src='./assets/drink-non-esistente.jpg';"
                                alt="{{ property.ingredients }}"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="mt-4">Instruction</h2>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a
                    class="nav-link"
                    [ngClass]="{ active: selectedPill === selectPill.en }"
                    (click)="selectPillFunction(selectPill.en)"
                    >English</a
                >
            </li>
            <li class="nav-item" *ngIf="drink.strInstructionsES !== null">
                <a
                    class="nav-link"
                    [ngClass]="{ active: selectedPill === selectPill.es }"
                    (click)="selectPillFunction(selectPill.es)"
                    >Spanish</a
                >
            </li>
            <li class="nav-item" *ngIf="drink.strInstructionsDE !== null">
                <a
                    class="nav-link"
                    [ngClass]="{ active: selectedPill === selectPill.de }"
                    (click)="selectPillFunction(selectPill.de)"
                    >German</a
                >
            </li>
            <li class="nav-item" *ngIf="drink.strInstructionsFR !== null">
                <a
                    class="nav-link"
                    [ngClass]="{ active: selectedPill === selectPill.fr }"
                    (click)="selectPillFunction(selectPill.fr)"
                    >French</a
                >
            </li>
            <li class="nav-item" *ngIf="drink.strInstructionsIT !== null">
                <a
                    class="nav-link"
                    [ngClass]="{ active: selectedPill === selectPill.it }"
                    (click)="selectPillFunction(selectPill.it)"
                    >Italian</a
                >
            </li>
        </ul>
        <div class="tab-content">
            <div
                class="tab-pane"
                [ngClass]="{ active: selectedPill === selectPill.en }"
            >
                <div class="p-4">
                    {{ drink.strInstructions }}
                </div>
            </div>
            <div
                class="tab-pane"
                [ngClass]="{ active: selectedPill === selectPill.es }"
                *ngIf="drink.strInstructionsES !== null"
            >
                <div class="p-4">
                    {{ drink.strInstructionsES }}
                </div>
            </div>
            <div
                class="tab-pane"
                [ngClass]="{ active: selectedPill === selectPill.de }"
                *ngIf="drink.strInstructionsDE !== null"
            >
                <div class="p-4">
                    {{ drink.strInstructionsDE }}
                </div>
            </div>
            <div
                class="tab-pane"
                [ngClass]="{ active: selectedPill === selectPill.fr }"
                *ngIf="drink.strInstructionsFR !== null"
            >
                <div class="p-4">
                    {{ drink.strInstructionsFR }}
                </div>
            </div>
            <div
                class="tab-pane"
                [ngClass]="{ active: selectedPill === selectPill.it }"
                *ngIf="drink.strInstructionsIT !== null"
            >
                <div class="p-4">
                    {{ drink.strInstructionsIT }}
                </div>
            </div>
        </div>
    </div>
</div>
