body {
    background-color: rgb(27, 27, 27);
    color: rgb(245, 245, 245);
}
.col {
    margin-bottom: 1.5rem;
    height: 100%;
}
.nav-link {
    cursor: pointer;
    color: white;
}
h2,
h3 {
    text-align: center;
    color: rgb(245, 245, 245);
}
h1 {
    text-align: center;
    color: rgb(245, 245, 245);
}
.card {
    border: 0;
    min-height: 31rem;
}
.img-w-500 {
    width: 500px;
}
h4 {
    font-size: 1rem;
}
