<div class="container">
    <div class="row">
        <div class="col col-12 d-flex justify-content-center flex-wrap">
            <button
                *ngFor="let letterAndNumber of lettersAndNumbers"
                class="btn btn-primary mx-1 mt-3"
                [routerLink]="['letters', letterAndNumber]"
            >
                {{ letterAndNumber }}
            </button>
        </div>
        <div class="col-12 text-center">
            <h1>All Drinks</h1>
        </div>
        <div
            class="col-12 d-flex justify-content-center align-items-center flex-wrap"
        >
            <div class="d-flex justify-content-center">Research a drink</div>
            <input
                type="text"
                (input)="RicercaDrink()"
                value=""
                id="input-ricerca-drink"
                class="rounded-5 mb-3"
            />
            <div class="d-flex justify-content-center">
                Research a ingredient
            </div>
            <input
                type="text"
                (input)="RicercaIngrediente()"
                value=""
                id="input-ricerca-ingrediente"
                class="rounded-5 mb-3"
            />
        </div>
    </div>
    <div *ngIf="!booleanCaricaRicerca">
        <div class="row">
            <div class="col-12">
                <h2 class="mt-4">Drink With A</h2>
            </div>
            <div *ngFor="let drink of drinksA" class="col col-12 col-md-4">
                <a [routerLink]="['drinks', drink.idDrink]" class="btn">
                    <div class="card rounded-5">
                        <img
                            [src]="drink.strDrinkThumb"
                            class="card-img-top rounded-top-5"
                            [alt]="drink.strDrink"
                        />
                        <div class="card-body">
                            <h3 class="card-title">{{ drink.strDrink }}</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div
                class="col-12 d-flex justify-content-center my-3"
                *ngIf="buttonCaricaDiPiu == false"
            >
                <button
                    class="btn btn-primary"
                    (click)="buttonCaricaDiPiu = true"
                >
                    Loading More
                </button>
            </div>
        </div>
        <div class="row" *ngIf="buttonCaricaDiPiu == true">
            <h2>Drinks From B To Z</h2>
            <div *ngFor="let drink of drinksBZ19" class="col col-12 col-md-4">
                <a [routerLink]="['drinks', drink.idDrink]" class="btn">
                    <div class="card rounded-5">
                        <img
                            [src]="drink.strDrinkThumb"
                            class="card-img-top rounded-top-5"
                            [alt]="drink.strDrink"
                        />
                        <div class="card-body">
                            <h3 class="card-title">{{ drink.strDrink }}</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="booleanCaricaRicerca">
        <div class="row" *ngIf="drinksFiltrati && funziona">
            <div class="col-12">
                <h2>Research Drink</h2>
            </div>
            <div
                *ngFor="let drink of drinksFiltrati"
                class="col col-12 col-md-4"
            >
                <a [routerLink]="['drinks', drink.idDrink]" class="btn">
                    <div class="card rounded-5">
                        <img
                            [src]="drink.strDrinkThumb"
                            class="card-img-top rounded-top-5"
                            [alt]="drink.strDrink"
                        />
                        <div class="card-body">
                            <h3 class="card-title">{{ drink.strDrink }}</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row" *ngIf="drinksFiltrati == null || funziona == false">
            <div class="col col-12 d-flex justify-content-center">
                <p class="text-white fs-2">Non ci sono drink!!</p>
            </div>
        </div>
    </div>
</div>
